$time = .2s

d2(a)
  a / 2
animate-backwards(function, timing)
  transition top d2(timing) function d2(timing), transform d2(timing) function
animate-forwards(function, timing)
  transition top d2(timing) function, transform d2(timing) function d2(timing)
deploy-el(m, time)
  content ''
  position absolute
  height 20%
  width 100%
  background-image url('~@/assets/nav-button.svg')
  top m
  animate-backwards(ease, time)

.NavButton
  height 15px
  width 16px
  position relative
  &:hover
    cursor pointer
  &::before
    deploy-el(0%, $time)
  &-element
    deploy-el(40%, $time)
  &::after
    deploy-el(80%, $time)
  &_open
    &::before, &::after, &>.NavButton-element
      top 40%
      animate-forwards(ease, $time)
    &::before, &::after
      transform rotate(45deg)
    &>.NavButton-element
      transform rotate(-45deg)
